# intellij
.idea
**/*.iml
.classpath
.project
.settings/
**/.flattened-pom.xml

# java backend
**/target/*
**/*.jar


# logs
logs/

/ids-infomodel-validation-serialization-provider/target/
/ids-infomodel-serializer/target/
